@media (min-width: 900px) and (max-width: 2000px)   {

    .main { 
        margin-left: -130px; 
        -webkit-transform:scale(.6);
        -moz-transform:scale(0.6);
        -ms-transform:scale(0.6);
        transform:scale(0.6,);
        position:absolute; 
        left: 30px; 

        height:1000px; 
        top:-30%; 
       
    
    }

    .container { 
    
        width:20%; 
        
        left:52%; 
    
        bottom:-10%; 
        
    }

    .availablehead { 
        top:-20%; 
        left:50%; 
        width:300px; 
    }

    .playerhistory { 
        right:15%; 
        width:70%; 
        height:600px; 
        top:20%; 
    }


    #buttonwrapper{
       background-color: rgb(150, 181, 216);
        top:580px; 
        width:970px; 
        left:-7%; 
        justify-content: space-around;
        height: 100px; 
        z-index: 999;
        position: absolute;
        border:2px solid blue; 

    }

.iconbutton { 
    margin-top:15px; 
    height:60px; 
}

.interface { 

    display:grid; 
 grid-template-columns: 1fr;
    background-color: rgb(17, 0, 90);
 width:40%; 
 right:-70%; 
 height:70vh;  
 margin-bottom:5px; 
 border:4px solid rgb(23, 18, 56); 
 border-radius: 20px;


}

.playercontainer { 
    position: relative;
    

    height:100%; 
    margin-bottom:5px; 
    border:5px solid black; 
    width:100%; 

}

.cardcontainer { 
	grid-template-columns: repeat(12, 1fr);
    position: absolute;
    height:200%; 
    width:100%; 
    left:5%;
    
    top:55%;

}

.availablesubcontainer { 
	grid-template-columns: repeat(14, 1fr);
}


.player1, .player2, .player3, .player4 {
    position: absolute;
    border-bottom: 2px solid yellow;
    font-size: 25px;
    width:100%; 
    height:20%; 
    
}

.cash1, .cash2, .cash3, .cash4 {
    position: absolute; 
	font-size:30px; 
	color:#539D51;
	top:0%; 
    right:5%; 


}

.player1confirmbid { 
    width:200px; 
    height:80px; 
    font-size:24px; 
    left:40%; 
}

#Player1bid { 
    width:200px; 
   
    left:40%; 
}

.bids { 

    font-size: 30px;
    bottom:30px; 
    margin-left:-40px; 
    margin-bottom:40px; 
}


.auctionpropertycards { 
    left:30%;
    margin-bottom: 5%;
   margin-top:2%; 
}

.railroadmodalcard { 
    width:90px; 
    height:90px; 
    bottom: -7px;
    position:absolute; 
    left:40%; 
    
}

.auctioncontent >h1 { 
    font-size:20px; 
    position:absolute; 
    top:2%; 
    left:25%; 
}

.menutitle{
    font-size:5vw;
}





.buildhead {
    color: rgb(185, 3, 3); 
    font-size:4vw; 
    
    text-align: center;
    font-weight: bolder;
    

  
    }

    .modal, .rulespopup, .auctionpopup, .buildscreen, #propertypageformobile{ 
     top:-6%;
     height:70vh; 
     left:20%; 
      
    }

    #propertypageformobile { 
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #propertypageformobile >h1 { 
        font-size:30px; 
        top:5%; 
        width:100%; 
        left:20%; 
        font-weight: bolder;
    }

  .buildsettings > p { 
    font-size: 24px;
    
  }


  .auctioncontent { 
    font-size:20px; 
  }
  .mobilerents { 
	
	font-size:24px; 
  }
.bidscolumn{
    color:black;
}
	





  .buyscreenwrapper { 
    
     grid-template-columns: 1fr 1fr;
     justify-content: space-between;
     width:100%; 
     
   
  }




  .closebuildscreen { 
    width:150px; 
    right:100%; 
    position:absolute;
    left:80%;  
    
  }

  .modal, .rulespopup, .auctionpopup, .buildscreen{ 
    top:-5%; 
  }

 .usermessage { 
    font-size:23px; 
 }

 .rents { 
    font-size: 22px;
 }

 .propertycards { 
    position:relative; 
    left:30%; 
 }

.buytotaltext { 
    position: absolute;
    bottom:50%; 
    left:40%; 
}

#buyhousebuttonwrapper{
    
    height:20%; 
    font-weight:900; 
    display:flex; 
    flex-direction: row;
    position:relative; 
    bottom:20%;
    width:500px; 
    margin-left:15%; 
}

.buildnumber { 
    margin-bottom:100px; 
}
.selectbuy, .buyhouse {
	position: relative; 
  
    margin-right:90px;
    font-size:24px; 
    font-weight:500;
    width:200px; 
    height:40px; 


}

.selectbuy:hover, .buyhouse:hover { 
    background-color: green;
}


.okay { 
    width:200px; 
    height:100px;
    font-size:24px 
}

.communitycards, .chancecards { 
   position:absolute; 
    top:-250px;  
    font-size:50px; 
    margin-left:5%; 
   

}

.button-yes, .button-no { 
    width:100px; 
}

.menuleftcolumn { 
    font-size: 30px;
    left:10%; 
    width:80%;
    padding-top:5%; 
    height:400px; 
}

.electricdescription{
 height:200px;
 bottom:100px; 

}

.menu { 
    height:100vh; 
    overflow-y: hidden;
    
}
.userpic { 
    width:80px; 
    height:80px; 
}

.browncard, .lightbluecard, .redcard, .orangecard, .yellowcard, 
.greencard, .darkbluecard { 
    font-size:34px;  
    padding-top:5%; 
}

.mobilerailroad, .mobileelectriccompany, .mobilewaterworks { 
    
	font-size:30px; 
	color:black; 
	margin-left:30%;
    margin-bottom:5%; 
    margin-top:5%; 
	
}



}