@media (min-width: 1201px){


#buttonwrapper { 
    position:absolute; 

    top:85%;
    width:900px; 
    left:-15%; 
    padding-left:10%; 
    padding-right:10%; 
}

.main { 
  
    margin-left: -130px; 
    -webkit-transform:scale(.55);
    -moz-transform:scale(0.6);
    -ms-transform:scale(0.6);
    transform:scale(0.6,);
    top:-30%; 
   
}

.interface { 
    margin-left:-300px; 
}

.container { 
    margin-left:5%; 
}
}