@media (min-width: 220px) and (max-width: 699px) {


    .main { 
        margin-left: -330px; 
        -webkit-transform:scale(.33);
        -moz-transform:scale(0.33);
        -ms-transform:scale(0.33);
        transform:scale(0.33,);
        position:absolute; 
        left: 30px; 
  
        height:1000px; 
        top:-250px
       
    
    }
    
        .mobileplayerdisplay {
            display:block; 
        }
    
   
    .menuleftcolumn{ 
        text-align: center;
        left:10%; 
        padding-top:20px; 
        height:60%; 
    }


 
    
        .playerhistory { 
            display:block; 
            height:350px;
            top:420px;  
            left:250px; 
            width:500px; 
        }
    

        .rents { 
            font-size:23px; 
            padding-bottom:15%; 
            
        }

        #buttonwrapper{
         
         top:400px;  
         justify-content: space-around;

        }
 
        .auctioncontent { 
            font-size: 20px;
        }

        .auctioncontent >h1 { 
            font-size:16px; 
        }

    .logo { 
       position: absolute;
       top:50px; 
    }
    
    
    .interface { 
        display:flex; 
        width:90vw;
        height:80px; 
        font-family: 'Righteous', cursive;
        margin-top:5%; 
        position:absolute; 
        justify-content: space-evenly;
        gap:5px; 
        top:0; 
        margin-left:5px;
        margin-right:5px; 
       
       
  
        
    }
    
    .interface { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }


    .playercontainer { 
    
        max-width:fit-content; 
        margin-left:5;  
      
        height:70%; 
       
    }
    
    .cardcontainer { 
        display:none; 
    }

    .container { 
        bottom:-20px;  
        left:5%; 
      
    }

    .availablehead { 
        font-size:18px; 
        top:-26px;  
    }

  
   .iconbutton { 
    font-size: 20px;
    font-weight:900;
   }

    
.okay { 
    height:60px; 
    width:160px; 
  
   
}

.buildsettings { 

    width:320px; 
    margin-top:20%; 
    text-align: center;
    margin-right:5%; 

}

#closepropertypage { 
   
    top:-2%; 
    right:3%; 

}
    
#propertypagesformobile > h1 { 
    font-size:14px; 
   
}

.buildsettings > p { 
   
    margin-right:7%; 
    
}

.buildhead { 
    margin-right:7%; 
  
}

#buyhousebuttonwrapper { 
   display:grid; 
    grid-template-columns: 1fr 1fr;
    width:300px; 
    position:absolute; 
    bottom:-10%; 
}
   .propertycards, .lgpropertycards, .auctionpropertycards {
    display: none; 
	position: relative; 
	background-color: white;
	height: 50%;
	width: 80vw; 
	margin-left:0%; 
    margin-top: 5%;
	max-height:400px; 
    
}
    
#mobileflexwrapper {
    margin-top:100px; 

   height:fit-content; 
    width:120%; 
    right:10%; 
    gap:10px; 
}
 
.closemenu { 
  
    right:-10px;
    top:-20px; 
}

  

.mobilepropertycards { 
    height:250px; 
    width:150px;  
    background-color: white; 
     
}

.mobilerents { 
    font-size:14px; 
  
}

.browncard { 
    font-size:20px; 
}



    }

    .bankrupt { 
      
        font-size:4vw; 
        display:none; 
        top:20px; 
    }