@media (min-width: 220px) and (max-width: 399px) {


    .main { 
        margin-left: -330px; 
        -webkit-transform:scale(.33);
        -moz-transform:scale(0.33);
        -ms-transform:scale(0.33);
        transform:scale(0.33,);
        position:absolute; 
        left: 30px; 
  
        height:1000px; 
        top:-250px
       
    
    }
    
        .mobileplayerdisplay {
            display:block; 
        }
    
    
    
        .playerhistory { 
            display:block; 
            height:350px;
            top:420px;  
            left:250px; 
            width:500px; 
        }
    

        .rents { 
            font-size:23px; 
            padding-bottom:15%; 
            
        }

        #buttonwrapper{
         
         top:400px;  
         justify-content: space-around;

        }
 
        .auctioncontent { 
            font-size: 20px;
        }

    .logo { 
       position: absolute;
       top:50px; 
    }
    
    
    .interface { 
        display:flex; 
        width:90vw;
        height:80px; 
        font-family: 'Righteous', cursive;
        margin-top:5%; 
        position:absolute; 
        justify-content: space-evenly;
        gap:5px; 
        top:0; 
        margin-left:5px;
        margin-right:5px; 
       
       
  
        
    }
    
    .playercontainer { 

        max-width:fit-content; 
        margin-left:5;  
       
    }
    
    .cardcontainer { 
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        height: 100px;
        width:40px; 
        gap:2px;  
        background-color: orange;
        position:absolute;
        top:0; 
    }

    .container { 
        bottom:-5%; 
        left:5%; 
    }

  
   

    

    
    
    
 
    




    }