@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.background {
	background-color: rgb(231, 202, 158); 
	height: 100vh;  
	width: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
	overflow-y: hidden;
}

.main {
	display:grid;
	width:970px; 
	grid-template-columns: 125px repeat(9, 80px) 125px;
	grid-template-rows: 125px repeat(9, 80px) 125px;
	background-color:#9DD2B4;  
	border: solid black 4px; 
	margin-top: -20%;
	margin-left: -35%;
	
	-webkit-transform:scale(0.9);
-moz-transform:scale(0.9);
-ms-transform:scale(0.9);
transform:scale(0.9,);
}

.historycontainer{
 display:grid; 
background-color: #9DD2B4;  
 grid-column:2/11;  
 grid-row:1/3; 

}

.booticonboard {
	display:grid; 
	z-index: 4;
	position: absolute;
	height: 40px; 
	top:60%; 
	margin-left:30%;

	background-color: rgb(255, 0, 0);
}

.cariconboard {
	display:grid; 
	z-index: 3;
	position: absolute; 
	height: 40px; 
	top:30%; 
	margin-left:20%;
	background-color: blue;
}

.haticonboard{
	z-index: 5;
	position: absolute; 
	height: 40px; 
	top:30%; 
    right:70%;
	background-color: green;
}


.dogiconboard{
	z-index: 2;
	position: absolute; 
	height: 40px; 
	top:40%; 
	right:30%;
	background-color: rgb(251, 255, 0);
}

.head {
	margin-bottom: 0%;
}


.container {
	display: grid; 
	grid-template-columns: 1000px repeat(3,100px); 
  
   

	

-webkit-transform:scale(0.6);
-moz-transform:scale(0.6);
-ms-transform:scale(0.6);
transform:scale(0.6,);
}

.center{
	display: grid; 
	grid-column:2/11; 
	grid-row:2/11; 
    border: 1px solid black; 
	text-align: center;  
	font-family: 'Righteous', cursive;
}

.redbg{
	grid-column:3/10; 
	grid-row: 3/3;  
	background-color: white; 
	width:500px; 
	height:100px; 
	margin-left: 60px; 
	margin-bottom:150px; 
	
}

.logo {
	grid-column:3/10; 
	grid-row: 3/3; 
	font-family: 'Righteous', cursive;
	font-size:90px; 
	color: red; 
}

.bottom-row{
	display: grid; 
	grid-column: 2 / 11;
	grid-row: 11;
	grid-template-columns: repeat(10, 80px);
	grid-template-rows: 125px; 
	border-top: 4px solid black; 
	position: relative; 
}





.gojail{
	height: 125px; 
	position: relative; 
}

.jail{
	height: 125px; 
	 }

.injailpic {
	float: right; 
}

.visitingtxt {
	margin-top: 80px; 
}

.space {
    border-left: 1px solid black; 
	border-right: 1px solid black;
	text-align: center; 
	border-bottom: 1px solid black; 
	font-family: 'Righteous', cursive;
	font-size:small; 
	position: relative; 
	
}
.con, .vermont, .orientalave{ 
    width: 80px; 
	height: 40px; 
	border-bottom: solid black 2px;
	background-color:lightskyblue;
}

.name {
	margin-top: 10px;
}


.baltic, .med {
	width: 80px; 
	height: 40px; 
	border-bottom: solid black 2px;
	background-color: brown; 
}




.price {
	justify-self:  bottom; 
	margin-top: 10px; }

.left-column {
	display:grid; 
	grid-template-rows: repeat(10, 1fr);
	grid-column:1/2; 
	grid-row-start:2; 
	width:125px; 
	height:25px;
	border-top: 2px black solid; 

   }

.charles, .states, .virgina {
	background-color:darkorchid;
	width: 125px;  
	height: 25px;  
	border-bottom: 2px black solid; 
	border-top:2px solid black; 

}
 
.rrleft {
	width: 125px; 
	border-top: 2px solid black; 
	height: 80px; 

}
	
.james, .ten, .newyork {
	background-color: orange; 
	widows: 125px;
	height: 25px; 
	border-top: 2px black solid; 

}

.top-row{
	display: grid; 
	grid-column: 2 / 11;
	grid-row: 1;
	grid-template-columns: repeat(9, 80px);
	grid-template-rows: 125px;
}

.kentucky,.illinois,.indiana{
	width: 80px; 
	height: 40px; 
	border-bottom: solid black 2px;
	background-color:red;
	padding-bottom:10px;
}

.atlantic, .ventor, .marvin{
    width: 80px; 
	height: 40px; 
	border-bottom: solid black 2px;
	background-color: yellow; 
}

.right-column {
	display:grid; 
	grid-template-rows: repeat(10, 1fr);
	grid-column:11/12; 
	grid-row:1/11;
	width:125px; 
	border-top: 1px black solid; 
	height: 120px; 
	position: relative; 

   }

   .pacific,.carolina,.penav {
	width: 125px; 
	height: 25px; 
	border-bottom: solid black 2px;
	background-color: green; 
	border-top: 2px solid black; 
   }

   .place {
	width: 125px; 
	height: 25px; 
	border-bottom: solid black 2px;
	background-color: blue; 
	border-top: 2px solid black; 
   }
   .bwalk{
	width: 125px; 
	height: 25px; 
	border-bottom: solid black 2px;
	background-color:blue; 
	border-top: 2px solid black

   }

   .questionmarkbtm{ 
	   top: -40px; 
	   width: 4px; 
   }
   
    .train {
		width: 40px; 
		height: 25px; 
	}

.questionmk1{
	color: red; 
	font-size: 80px; 
	font-family: 'Righteous', cursive;
}

.questionmk2{
	color:blue;  
	font-size: 80px; 
	font-family: 'Righteous', cursive;
}

.questionmk3{
	color: yellow; 
	font-size: 38px;  
	font-family: 'Righteous', cursive;
}

.chest {
	width: 70px; 
	height:70px; 
	position:relative; 
	
}

.chestleft{
	height: 50px; 
	width:40px;
	margin-bottom:-10px; 
	text-align: top; 
}

.gopic{
	width:125px; 
	height: 120px; 
	bottom: 4px; 
	grid-column:11/12; 
	grid-row:11/12;  
	padding-bottom:3px solid black; 
	padding-top: 5px solid black; 
}

.go{
	width: 125px; 
	height: 120px; 
	z-index:1; 
}

.electricpic{
	height: 25px; 
	width: 50px; 
	border-top: 2px solid black; 
}

.electricleft{
	height: 60px; 
	font-size: small; 
	position: relative; 
	bottom:10px; 
}

.rrright {
	height: 68px; 
	width: 125px; 
}

.luxury {
	height: 70px; 
	font-size: small; 
	position: relative; 
	bottom:10px; 
}

/* User Interface Styling */ 

.interface {
	display:grid; 
	width: 500px;
	height: 100%; 
	background-color:  #9DD2B4;  
	font-family: 'Righteous', cursive;
	margin-bottom: 20%;
	position:relative; 
	margin-left: -300px;
	margin-top: -150px;
}


.playercontainer {
	
	background-color:  #9DD2B4;  

	position: relative;
	width: 500px; 
	height: 100%; 
	border-radius: 25px; 
	border-color: #aef1e3; 
    


}

.player1, .player2, .player3, .player4 {
 font-size: 30px; 
 color: blue;
 border-bottom: 2px solid black;
 border-radius: 15px;


}

.property {
	grid-row-start:4; 
}

.cards {
	grid-row-start: 8; 

}


.dice{
	width:80px; 
	height:80px; 
	grid-row-start: 9; 
	grid-column-start: 9; 
	border: 7px solid black; 
}

.modal, .rulespopup{
    display:hidden; 
	position: absolute; 
   z-index: 999; 
   top: 0 ; 
   height: 80%; 
   width: 50%; 
   background-color: rgb(116, 194, 194);
   border-radius: 10px;
   border: 10px solid darkcyan;
   left:300px;
   margin-top: 5%;
}



.modal-content {

   font-size:24px; 
   text-align: center;

}




.propertycards {
    display: none; 
	position: relative; 
	background-color: white;
	height: 300px;
	width: 50%; 
	left: 25%; 
    margin-top: 5%;
    
}

.chancecards {
	
	position: absolute; 
	background-color: orangered;
	height:35%; 
	width: 55; 
	left:25%; 
	top:40%; 
	font-size: 30px; 
}

.communitycards{
	position: absolute; 
	background-color: yellow; 
	height:35%; 
	width: 55; 
	left:25%; 
	top:40%; 
	font-size: 30px; ;

}


.propertytitle {
	font-size: 60px; 
	text-align: center;
}

.browncard { 
	background-color: brown;
	width: 100%; 
	height: 75px; 
	font-size: 50px; 
	text-align: center;
}

.lightbluetitle{
	background-color: lightskyblue;
	width: 100%; 
	height: 75px; 
	font-size: 50px; 
	text-align: center;
	

}

.darkbluecard{
	background-color: darkblue; 
	width: 100%; 
	height: 150px; 
	font-size: 50px; 
	text-align: center;

}

.greencard {
	background-color: green;
	width:100%; 
	height: 150px; 
	font-size: 50px; 
	text-align: center;
}

.yellowcard { 
	background-color: yellow;
	width: 100%; 
	height: 150px; 
	font-size: 50px; 
	text-align: center;
}

.redcard { 
	background-color: red;
	width: 100%; 
	height: 150px; 
	font-size: 50px; 
	text-align: center;
}

.orangecard { 
	background-color: orange;
	width: 100%; 
	height: 150px; 
	font-size: 50px; 
	text-align: center;
}

.pinkcard { 
	background-color:darkorchid; 
	width:100%; 
	height: 150px; 
	font-size: 50px; 
	text-align: center;

}

.lightbluecard { 
	background-color: lightskyblue;
	width: 100%; 
	height: 150px; 
	font-size: 50px; 
	text-align: center;
}



.button-yes { 
 position: relative; 
	background-color:  rgb(47, 78, 47);
 padding: 15px 15px; 
 font-size: 12px; 
 margin-top: 5%;
 color:white; 
 border-radius: 5px;
 width:70px; 
 font-weight:900;
}

.button-yes:hover {
	background-color: rgb(116, 167, 116);
}



.button-no {
position: relative; 
background-color: rgb(119, 19, 19); 
padding: 15px 15px; 
font-size: 12px; 
margin-left:10%; 
color:white; 
border-radius: 5px;
font-weight: 900; 
}


.button-no:hover {
	
	background-color:rgba(249, 79, 73, 0.8)
}






.playerName1, .playerName2 {
	font-size: 30px; 
	font-family:'Righteous', cursive;
	color: blue; 
	text-decoration: underline black solid 4px ;

}

.playerName1 {
	position: absolute;  
    left: 60%; 
	padding: 30px; 

}

.playerName2 {
	position: absolute;  
    left: 75%; 
	padding: 30px; 
	z-index: 2;
}

.guy {
	position: absolute; 
	right: 30%; 
	bottom:10%; 
}

.cash1, .cash2, .cash3, .cash4 {
    position: absolute; 
	font-size: 30px; 
	color:green; 
	right:50px; 
	top:5px; 
}




.okay {
position: relative; 
background-color: lightseagreen;
padding: 35px 60px; 
font-size: 25px; 
margin-left:15%; 
top:  60px;  
left: 200px; 
	
}

.actionstaken {
position: absolute; 
right: 10%; 
top: 30%; 
font-size: 20px;
font-family:  'Righteous', cursive;
color: green; 
 }

 .auctionpopup{ 
	display:block; 
	position: absolute; 
   height: 500px; 
   width: 700px;  
 
 
 }


 
 .auctioncontent {
	position: relative; 
	background-color: rgb(131, 199, 190);
   margin: 20%; 
   padding: 60px; 
   font-size:20px; 
  height: 80%; 
  margin-top: 40px ;
  width: 100%; 
 right: 10px; 
  z-index: 9;
border: 7px solid blue; 
margin-right: 500px;
 }

 #Player1bid {
	position: absolute; ; 
   height: 30px; 
	width: 100px;  
	top: 40%; 
	font-size: 30px;
	color: green; 
	cursor: pointer; 
	 
}

#Player2bid {
	position: absolute;  
   height: 70px; 
	width: 250px;  
	top: 40%; 
	font-size: 30px;
	color: green; 
	cursor: pointer; 
	left: 70%;

	
}

.Bidscolumn{
	position: absolute; 
	display: grid;
	grid-template-rows: repeat(5,75px);
	width:20%;
	right:10%;
	bottom:10%;
  
}




.player1confirmbid{
	position: absolute; 
	top: 50%; 
	
	width: 100px;
	height:60; 
	background-color: green;
	margin-top: 5%;
	color:rgba(236, 236, 236, 0.801); 
	font-weight: 900;
}


.player2confirmbid{
	position: absolute; 
	top: 50%; 
	right:15%; 
	width: 150px; 
	height: 80px; 
	background-color: green;
}

.currenthighbid{
position: absolute; 
top:200px; 
right: 40%; 
font-size: 30px; 
}



.stopbidding1, .stopbidding2 {
	width: 180px ;
	height: 60px; 
	background-color: rgb(247,0,0)
	
}

.stopbidding1 {
	position:absolute; 
	bottom: 30%; 
	left: 13%; 
	
}

.stopbidding2 {
	position: absolute; 
	bottom: 30%; 
	right: 13%; 
}

.cpubid {
position: absolute; 
right: 10%; 
font-size: 30px; 
top: 40%; 
border-bottom: green solid 4px; 
font-family: 'Righteous', cursive;
}

.cpubidamount{
	color: green; 
	font-size: 30px;
	position: absolute; 
	top: 50%; 
	right: 20%; 
}




.navbar{
background-color:  #9DD2B4;  
height:145px; 
width: 70%; 
position:relative; 
bottom:40%;
border:5px solid black;
display:grid; 
grid-template-columns: 200px 200px 200px 200px 300px;  
font-size: 20px; 
border-radius: 25px; 
padding:10px; 
right:120px; 

-webkit-transform:scale(0.6);
-moz-transform:scale(0.6);
-ms-transform:scale(0.6);
transform:scale(0.6,);

}


.cardcontainer {
	display:grid; 
	grid-template-columns: repeat(6, 1fr);
	background-color:  #9DD2B4;  
	position:relative; 
    width:300px;
	height:150px;
	left:100px; 
	row-gap: 50px;

	
	
}

.smallcard {
	position:relative; 
	display:grid; 
	grid-template-rows: repeat(5, 10px);
	width:5px; 
	height:5px;
}




.displaycontainer {
   height:80%;
	background-color: #9DD2B4;  
	margin-bottom: 10%;
}


.iconbutton, .intro-iconbutton{
 background-color: green; 
 font-size: 30px;
 color: white; 
 width: 130px; 
 height: 40px; 
 position: relative; 
 left:15%; 
 border-radius: 10px;

}

.iconbutton:hover{
	color:#9DD2B4; 
	width:135px; 
	height:45px; 

}

.diceicon,.tradeicon{
	

	width: 80px; 
	height: 80px; 
	color:#E7EAED;
	position: relative; 
	top:10px;
	left:25%;
}



.main, .interface {
	position: relative;
	bottom:10%; 

	
}


.smallbrown{
	width:40px; 
	height:10px; 
	background-color: rgba(102, 13, 13, 1);
	
}


.cardbody {
	position: absolute;
	background-color: white;
	width:40px; 
	height:30px; 
	top:10px;

	
}

.railroad{
	position:relative; 
	width:40px; 
    height:40px;
	background-color: white;
}

.smallrr{
	width:25px; 
	height:25px;
	margin-left: 15%;
	margin-top: 20%;
}


.smallelectric,.smallwater {
	background-color: white;
	width:40px; 
	height:40px; 
}

.smallelectricicon,.smallwatericon{
	width:25px; 
	height:25px;
	margin-left: 15%;
	margin-top: 20%;
}


.smalllightblue {
	width:40px; 
	height:10px; 
	background-color:lightskyblue; 
}

.smallpink{
	width:40px; 
	height:10px; 
	background-color: darkorchid;
}

.smallorange{
	width:40px; 
	height:10px; 
	background-color: orange;
}

.smallred {
	width:40px; 
	height:10px; 
	background-color: red;
}

.smallyellow {
	width:40px; 
	height:10px; 
	background-color: yellow;
}

.smallgreen {
	width:40px; 
	height:10px; 
	background-color: green;
}

.smallblue{
	width:40px; 
	height:10px; 
	background-color: blue;
}


.availablecontainer{
	display:grid; 
	position: relative; 
	width:100%; 
	height:200px; 
	margin-left: 25%;
   
}

.availablehead{
	position: relative; 
	font-family: 'Righteous', cursive;
	font-size: 28px;
	color:rgb(3, 10, 104);
	z-index: 9;
    text-align: center;
	
	
}

.availablesubcontainer{
	display:grid; 
	grid-template-columns: repeat(7, 1fr);
	position: relative; 
	width:200px; 
	left:350px;
	height:100px;
	column-gap: 5px;
	bottom:510px; 
}

.intropage{
	position:absolute;
	height:100%;
	width:100%; 
	

	-webkit-transform:scale(0.6);
-moz-transform:scale(0.6);
-ms-transform:scale(0.6);
transform:scale(0.6,);



}

.introhead{
	margin-left: 15%;
	position:relative;
	font-size: 200px ; 
	color:rgb(224, 4, 4); 
	font-family:'Franklin Gothic Medium';
	
}

.navbarintro{
	height:175px; 
	width: 600px; 
	position:relative; 
	bottom:30%; 
	left:15%;
	display:grid; 
	grid-template-columns: 200px 200px 200px 200px ;
	font-size: 20px; 


}
.gameruleshead {
	font-size: 36px; 
    margin-left: 5%;
	margin-top: 5%
}

.ruleswrapper{
	font-family: 'Righteous', cursive;
	font-size: 20px;
	background-color: rgba(114, 162, 179, .4);
	margin-left: 5%;
	width:80%; 
	height: 500px;
}


.caricon, .dogicon, .booticon,.haticon {
	position: relative;
	left:25%;
	top:10%;
	width:80px; 
	height:80px; 
}

.smallcardz{
	width:400px; 
	height:400px; 
}

.buildscreen{
	display: grid;
	position: absolute; 
   z-index: 999; 
   top: 0 ; 
   height: 80%; 
   width: 60%; 
   background-color: rgb(116, 194, 194);
   border-radius: 10px;
   border: 10px solid darkcyan;
   left:300px;
   margin-top: 5%;
   grid-template-columns: 50% 50%;
  
}

.buildhead{
color: rgb(17, 0, 255); 

text-align: center;
}

.buildsettings{
 border-right: 2px solid rgb(54, 130, 245) ;
 align-items: center;
}

.availablehousesforbuild, .availablehousesforsale{
  margin-left: 40%;
}


.numberhousesforsale{
	margin-left: 40%;
}

.buildnumber,.sellnumber {
	margin-left: 45%;
}

.buywrapper,.sellwrapper{
margin-left: 40%;
margin-top: 20%;
}

.buytotaltext,.selltotaltext {
margin-right: 50%;
}

.buyhouse, .sellhouse {
	margin-top: 25%;
}

.househeader{
	margin-top: 5%;
   margin-left: 25%;
}

.selectbuy{
	margin-left: 30%;
	margin-top: 5%;
	width:160px; 
}

.playerhistory{
	position:absolute; 
	background-color: rgb(255, 252, 204);
	width:300px; 
	height:200px; 
	top:50px; 
	right:3%
} 

.housepiece1,.housepiece2,.housepiece3,.housepiece4{
	display:none; 
	position:absolute; 
	background-color: rgb(59, 167, 59);
	width:15px;
	height:15px; 
	z-index: 10;
	bottom:70%;
}



.housepiece2{
	margin-left: 30%;

}

.housepiece3{
	margin-left: 50%;


}

.housepiece4{
	margin-left:80%; 
	
}