@media (min-width:550px) and (max-width: 800px){ 

  

    .main { 
        margin-left: -330px; 
        -webkit-transform:scale(.6);
        -moz-transform:scale(0.6);
        -ms-transform:scale(0.6);
        transform:scale(0.6,);
        position:absolute; 
        left: 250px; 
  
        height:1000px; 
        top:-15%; 
       
    
    }
    
    
  



}