@media (min-width:650px) and (max-width: 800px){ 

  

  
   

.main { 
    margin-left: -100px; 
    margin-top:20px; 
}

.interface{ 

    margin-top: -50px;
    width:400px; 
}

.cardcontainer { 
    height: 200px;
    width:600px; 
}

.availablesubcontainer{
	display:grid; 
	grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr 1fr;
	position: relative; 
	width:300px; 
	left:350px;
	height:100px;
	column-gap: 2px;
	bottom:475px; 
    row-gap: 0px;
}





}